<div class="text-center">
  <div class="index-logo">

  </div>
</div>

<div class="container my-custom-container">
  <h2 class="text-center">Pošljite nam svoje sporočilo</h2>
  <p class="text-center">
    <small><em>Oddajte svoje mnenje o blogu; kritiko, pohvalo ali predlog</em></small>
  </p>
  <%= render 'contact_form' %>
</div>
