<div class="text-center">
  <div class="index-logo">

  </div>
</div>

<div class="container my-custom-container">
  <h2 class="text-center">Pošljite nam svoje sporočilo</h2>
  <p class="text-center">
    <small><em>Oddajte svoje mnenje o blogu; kritiko, pohvalo ali predlog</em></small>
  </p>
  <%= render 'contact_form' %>
</div>

<script type="text/javascript">
// $('#submit_form').prop('disabled', true);
//
// var toValidate = jQuery('#ContactName, #ContactEmail, #ContactContent'),
//   valid = false;
// toValidate.keyup(function(){
//   if (jQuery(this).val().length > 0) {
//     jQuery(this).data('valid', true);
//   } else {
//     jQuery(this).data('valid', false);
//   }
//   toValidate.each(function() {
//     if (jQuery(this).data('valid') == true) {
//       valid = true;
//     } else {
//       valid = false;
//     }
//   });
//   if (valid === true) {
//     jQuery('#submit_form').prop('disabled', false);
//   } else {
//     jQuery('#submit_form').prop('disabled', true);
//   }
// });

// $(document).ready(function (){
//     validate();
//     $('#ContactName, #ContactEmail, #ContactContent').change(validate);
// });
//
// function validate(){
//     if ($('#ContactName').val().length   >   0   &&
//         $('#ContactEmail').val().length  >   0   &&
//         $('#ContactContent').val().length    >   0) {
//         $("#submit_form").prop("disabled", false);
//     }
//     else {
//         $("#submit_form").prop("disabled", true);
//     }
// }
</script>
