<p class="uvodni-govor">
  Vsakdo od nas ima neko svoje področje, ki ga zanima. Slednjemu posveča nek določen čas in

pozornost. Zame je to področje šport predvsem nogomet. Spremljanje dogajanj, prebiranje aktualnih

novic, pridobivanje raznih informacij, ki so povezane z nogometom je nekaj, kar mi je preprosto v

užitek. Tu ne gre zgolj samo za ogled tekme oziroma hiter pregled izidov. Prestopi, statistika, metode

dela ter taktične postavitve trenerjev, zanimivosti, članki ali knjige, ki nam predstavijo življenjsko

zgodbo posameznih nogometašev in še bi lahko našteval. Navdušenje, ki me spremlja ob tovrstnih

trenutkih je izjemno. Svojo pozornost posvečam tudi drugim športnim panogam ampak priznam

stopnja zagretosti ni takšna kot pri nogometu.
<br /><br />
Moji prijatelji vedo za moje športno navdušenje. Tako mi je nekega dne ob kavi, ko je beseda tekla o

priljubljeni temi moj zelo dober prijatelj Iztok dejal ali sem morda kdaj razmišljal o blogu? Iskreno?

Presenetil me je. V trenutku se mi je ideja dopadla in že je pogovor zavil v smernice kako to realizirati.

Iztok mi je ponudil pomoč ter prevzel izdelavo spletne strani ter vsega drugega kar je potrebno na

svoja pleča. Dejal mi je naj za nič ne skrbim, vse bo on uredil, na meni je le, da pišem. Za vse to se mu

še enkrat zahvaljujem.
<br /><br />
Sebe nimam za nobenega strokovnjaka, eksperta, daleč od tega. Sem le športni navdušenec, ki bo

poskušal v blogu, ki je pred vami izliti svoja mnenja ter stališča. Upam, da vam bo moje pisanje všeč,

ker si želim ponuditi tovrstnim navdušencem zanimivo branje. Hvala.
</p>
