<% if articles.present? %>
<!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
           <!-- CLIENT SLIDER STARTS -->
          <div class="carousel slide articles-carousel" id="articles-slider">
              <div class="carousel-inner">
                <% articles.in_groups_of(1) do |group| %>
                  <div class="item">
                    <div class="row">
                    <% group.each do |article| %>
                      <% unless article.nil? %>
                            <div class="col-md-12">
                                <div class="article-box">
                                  <div class="caption custom-blue" style="background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ), url('<%= article.image.url %>');">
                                    <p class="article-title">
                                      <%= link_to article.title + "...", article_path(article.slug), style:"color: white;" %>
                                    </p>
                                    <p class="article-image-resource">
                                      <% if article.image_resource.present? %>
                                        Foto: <%= article.image_resource %>
                                      <% end %>
                                    </p>
                                  </div>
                                </div>
                            </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>

              </div>
              <a data-slide="prev" href="#articles-slider" class="left carousel-control">
                  <span class="glyphicon glyphicon-chevron-left" style="font-size:40px; color: white;" aria-hidden="true"></span>
              </a>
              <a data-slide="next" href="#articles-slider" class="right carousel-control">
                  <span class="glyphicon glyphicon-chevron-right" style="font-size:40px; color: white;" aria-hidden="true"></span>
              </a>
          </div>
           <!-- CLIENT SLIDER ENDS -->
      <!-- </div> -->
  <!-- </div> -->
<% else %>
  <% if current_user && current_user.is_admin? %>
    <%= link_to "+ Dodaj Älanek", new_article_path %>
  <% end %>
<% end %>

<script>

$('#articles-slider .carousel-inner > .item:first').addClass('active');
  $('#articles-slider').carousel({
    interval: 5000
});

</script>
