<%= render 'cookies_eu/consent_banner' %>
<%= render :partial => 'articles', :object => @articles %>

<h2 class="text-center" style="margin: 30px 0 30px 0">Začetek</h2>
<%= render 'about' %>
<script>

$('#articles-slider .carousel-inner > .item:first').addClass('active');
$(document).ready(function () {
            $("#articles-slider").carousel({
                interval: 150000000 //TIME IN MILLI SECONDS
            });
        });
</script>
