
<div class="jumbotron jumbotron-header">
  <h1 class="blog-title">Prvi pravi blog o sportu</h1>
</div>
<div class="middle-menu">
  <ul class="list-inline text-center" style="margin-bottom: 0;">
    <li><%= link_to "Domov", root_path %></li>
    <li><%= link_to "Članki", articles_path %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
</div>
<div class="jumbotron jumbotron-header1">
  <h1 class="blog-title">Beri zanimivosti!</h1>
</div>
