<!-- <div class="container-fluid"> -->
  <%= render :partial => 'articles', :object => @articles %>
<!-- </div> -->

<div class="text-center">
  <div class="index-logo">

  </div>
</div>


<div class="container my-custom-container">
  <h2 class="text-center uvodni-naslov">Kako se je vse skupaj ZaÄelo?</h2>
  <%= render 'about' %>
</div>
