<style>

  .error_pic {
    background: url('assets/error.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  .error_text {
    color: white;
    padding-top: 160px;
  }
</style>

<div class="error_pic text-center">
  <div class="error_text">
    <h3>Oooops, Ta stran žal ne obstaja!</h3>
  </div>
</div>
