/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-eu-cookie-law-popup
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootsy";

// average rating star
.average_rating_star {
  background-image: image-url('white_star.png');
  background-size: cover;
  height: 70px;
  width: 75px;
}
.average_rating_star_text {
  padding-top: 30px;
  padding-left: 22px;
  color: black;
  font-weight: bold;
}

 // share buttons
.share_buttons:hover {
  background: none !important;
}
.facebook_share_icon {
  color: #3B5998;
}
.facebook_share_icon:hover {
  transform: scale(1.5);
}
.twitter_share_icon {
  color: #1B95E0;
}
.twitter_share_icon:hover {
  transform: scale(1.5);
}

.index-logo {
  background: image-url("logo11.png");
  background-size: cover;
  height: 200px;
  width: 490px;
  display: -webkit-inline-box;
  display: inline-block;
 }
 // Responsive design
 @media only screen and (max-width: 500px) {
   .index-logo {
     background: image-url("logo11.png");
     background-size: cover;
     height: 50px;
     width: 160px;
     display: -webkit-inline-box;
     display: inline-block;
     margin-bottom: 20px;
   }
   .navbar-custom.nav.navbar-nav.pull-right {
     float: left;
   }
   .form-group {
     margin-left: 15px !important;
     margin-right: 15px !important;
   }
   .article-image-resource {
     font-size: 9px;
   }
 }
// ipad mini navbar
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    li.dropdown {
      margin-right: 35px;
    }
  }

//
.navbar-inverse {
  background-color: #000;
  ul.dropdown-menu > li > a:hover {
    background-color: black;
    color: white;
  }
}
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.5);
    a.menu-title {
      color: white;
    }
    a.menu-title:hover {
      background-color: inherit !important;
    }
    li.active {
      background-color: inherit !important;
      font-weight: bold;
    }
    a:focus {
      background-color: inherit !important;
    }
    .nav.dropdown a, .nav.dropdown > a:hover, .nav.dropdown > a:focus {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    ul.dropdown-menu > li > a:hover {
      background-color: black;
      color: white;
    }
}
.navbar-custom.nav {
  color: white;
  font-size: 13px;
  padding: 5px;
}

$footer-header-height: 102px;
$footer-body-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-header-height + $footer-body-height;
  font-family: 'Michroma', sans-serif;
}
p {
  font-family: 'Michroma', sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
      }

footer.header {
  bottom: $footer-body-height;
  height: $footer-header-height;
}
footer.body {
  min-height: $footer-body-height;
  border-top: 1px solid #C1C1C1;
  padding-top:2px;
}
a:hover {
  color: white !important;
}
// container
@media (min-width: 768px) {
.my-custom-container{
    width: 820px;
}}

@media (min-width: 992px) {
.my-custom-container{
    width: 920px;
}}

@media (min-width: 1200px) {
.my-custom-container{
    width: 1020px;
}}
// pagination style
.pagination > a, .pagination > em {
  padding: 0 10px 0 10px;
}
.pagination > em.current {
  font-weight: bold;
  font-size: 18px;
}
