// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading.panel-customize-header {
  color: white;
  background-color: black;
  border-color: #ddd;
}
.comment-icons {
  padding: 0 10px 0 0;
}
@media (max-width: 500px) {
  .panel.panel-inverse > .panel-footer {
    padding: 10px 15px 50px 15px;
  }
}


.panel-body.article-list-panel-body {
  border-bottom: 1px solid;
}
