// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading.panel-customize-header {
  color: white;
  background-color: black;
  border-color: #ddd;
}
.comment-icons {
  padding: 0 10px 0 0;
}
@media (max-width: 500px) {
  .panel.panel-inverse > .panel-footer {
    padding: 10px 15px 50px 15px;
  }
}


.panel-body.article-list-panel-body {
  border-bottom: 1px solid;
}

// average rating star
.average_rating_star {
  background-image: image-url('white_star.png');
  background-size: cover;
  height: 70px;
  width: 75px;
}
.average_rating_star_text {
  padding-top: 33px;
  padding-left: 25px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.index-aticle-first-item.list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top: none !important;
}

//START fonts design

h1.article-index-MainTitle {
  font-size: 64px;
}
.article-index-title-header {
  background-color: black;
  padding: 25px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-family: 'Raleway', sans-serif;
  h4 {
    margin: 0;
  }
}
.article-col {
  margin-bottom: 30px;
}
.article-index-share {
  font-size: 15px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}
.article-index-CommentsClock {
  margin: 0;
}
.article-index-content {
  text-align: justify;
  font-size: 15px;
}

.article-show-content {
  font-size: 18px;
  line-height: 24px;
}
ul.list-inline.article-show-share {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}
//END fonts design
