// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
.middle-menu {
  margin: 0;
  height: 60px;
  background: #000000;
}
.middle-menu-content {
  vertical-align: middle;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  font-family: monospace;
}

//articles carousel

.articles-carousel {
    margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}
.articles-carousel .carousel-inner {
  padding-left: 140px;
}
.articles-carousel .portfolio-box {
      border: 2px solid #1539A8;
      text-align: center;
      background: #F4F4F4;
      height: 200px;
      width: 200px;
      padding-top: 90px;
  }

.articles-carousel .carousel-control.left {
      width: 35px;
      background: transparent;
      color: #1539A8;
      left: -15px;
      position: absolute;
      bottom: 85px;
  }

.articles-carousel .carousel-control.right {
      width: 35px;
      background: transparent;
      color: #1539A8;
      right: -15px;
      position: absolute;
      bottom: 85px;
  }

.articles-carousel .portfolio-box h4 {
      height: 40px;
  }
