// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
.index-logo {
  height: 250px;
  margin-top: -50px;
}
.middle-menu {
  margin: 0;
  height: 60px;
  background: #000000;
}
.middle-menu-content {
  vertical-align: middle;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  font-family: monospace;
}

//articles carousel
//
// .articles-carousel {
//     margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
//     padding: 0 30px 30px 30px;
// }

// .articles-carousel .portfolio-box {
//       border: 2px solid #1539A8;
//       text-align: center;
//       background: #F4F4F4;
//       height: 200px;
//       width: 200px;
//       padding-top: 90px;
//   }

// .articles-carousel .carousel-control.left {
//       width: 35px;
//       background: transparent;
//       color: #1539A8;
//       left: -15px;
//       position: absolute;
//       bottom: 85px;
//   }

// .articles-carousel .carousel-control.right {
//       width: 35px;
//       background: transparent;
//       color: #1539A8;
//       right: -15px;
//       position: absolute;
//       bottom: 85px;
//   }

// .articles-carousel .portfolio-box h4 {
//       height: 40px;
//   }
.articles-carousel .carousel-control.right:hover {
  background-color: rgba(0, 0, 0, 0.0);
}
.articles-carousel .carousel-control.left:hover {
  background-color: rgba(0, 0, 0, 0.0);
}
.caption {
  //height: 480px;
  //width: 100%;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  height: 450px;
}
.article-title {
  font-size: 22px;
  //color: white !important;
  font-weight: bold !important;
  padding-top: 330px;
}
