// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
.middle-menu {
  margin: 0;
  height: 60px;
  background: #000000;
}
.middle-menu-content {
  vertical-align: middle;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  font-family: monospace;
}

//articles carousel
//
// .articles-carousel {
//     margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
//     padding: 0 30px 30px 30px;
// }

// .articles-carousel .portfolio-box {
//       border: 2px solid #1539A8;
//       text-align: center;
//       background: #F4F4F4;
//       height: 200px;
//       width: 200px;
//       padding-top: 90px;
//   }

// .articles-carousel .carousel-control.left {
//       width: 35px;
//       background: transparent;
//       color: #1539A8;
//       left: -15px;
//       position: absolute;
//       bottom: 85px;
//   }

// .articles-carousel .carousel-control.right {
//       width: 35px;
//       background: transparent;
//       color: #1539A8;
//       right: -15px;
//       position: absolute;
//       bottom: 85px;
//   }

// .articles-carousel .portfolio-box h4 {
//       height: 40px;
//   }


// .articles-carousel .carousel-control.right {
//   border-radius: 0 15px 15px 0;
// }
.articles-carousel .carousel-control.right:hover {
  background-color: rgba(0, 0, 0, 0.0);
}
// .articles-carousel .carousel-control.left {
//   border-radius: 15px 0 0 15px;
// }
.articles-carousel .carousel-control.left:hover {
  background-color: rgba(0, 0, 0, 0.0);
}
.caption {
  //width: 100%;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  height: 760px;
  //border-radius: 15px;
}
.article-title {
  font-size: 30px;
  //color: white !important;
  font-weight: bold !important;
  padding-top: 420px;
}
.article-image-resource {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding-right: 30px;
}
// iphone 6 & 6+ portrait:
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .caption {
      height: 250px;
    }
    .article-title{
      padding-top: 140px;
      line-height: 25px;
    }
}
//Iphone 6 landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .caption {
    height: 450px;
  }
  .article-title{
    padding-top: 280px;
    line-height: 25px;
  }
}
//Iphone 6 landscape
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .caption {
      height: 350px;
    }
    .article-title{
      padding-top: 240px;
      line-height: 25px;
    }
  }
// Iphone 5 portrait
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .caption {
      height: 220px;
    }
    .article-title{
      padding-top: 150px;
      line-height: 20px;
      font-size: 12px;
    }
    .article-title a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
// Iphone 4 landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .caption {
      height: 350px;
    }
    .article-title{
      padding-top: 230px;
      line-height: 25px;
    }
  }

// text design
p.uvodni-govor {
  text-align: justify;
  font-size: 22px;
  line-height: 25px;
}
h2.uvodni-naslov {
  margin: 30px 0 50px 0;
  font-size: 46px;
}
