<p>Pozdravljen <%= @resource.email %>!</p>

<p>Nekdo je zahteval link za spremembo gesla. To lahko nastaviš s klikom na spodnjo povezavo.</p>

<p><%= link_to 'Ponastavi Geslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ignoriraj to sporočila, če ga nisi zahteval ti.</p>
<p>Geslo ne bo spremenjeno dokler na klikneš na povezavo zgoraj.</p>
<br />
<p>
  Lep dan še naprej vam želi, <br />
  Ekipa Športni Blog
</p>
